*
!.gitattributes
!.gitignore
!LICENSE
!README.md

# logseq kits
!insertToPurchases.md
!templateSlashCommand.md
!referenceCountKit.md
!embedQuery.md
!md-button.md
!newActivityWizard.md # not done
!futureEventsTable.md
!nextRefIcon.md
# DEPRECIATED
!futureAppointmentTable.md
!refIcon.md

!purchaseHolderComponent.md
!daysUntilNextAppointment.md
# newKitButton.md # abandoned
# !infobox.md # not ready yet
!shoppingItemCount.md
!openOrders.md
!groceryItemCount.md
!doingWidget.md
!insertListItem.md
!openorderCount.md
# !insertSomeBlocks
!collapseBlock.md
!kitButton.md
!journalOrganizationBlocks.md
!journalGroceryWidget.md
# ChildlessEmbed
!nextAppointment.md
!exportquery.md
!youtubeIconLinker.md
!scheduleDateToday.md


# pages
!advanced query.md
!collapseBlock.md
!grocery list.md
!kit.md
!logseq.md
!organization.md
!pages.md
!people.md
!projects-example.md
!shopping.md
!templates.md
!data.md

# projects
!%3Alogseq-journal-buddy-improvement-2024.6.md
!%3Alogseq-events-and-appointments.md
