*
!.gitignore
!advanced query.md
!grocery list.md
!shopping.md
!templates.md
!projects.md
!logseq.md
!pages.md
!kit.md
!nextAppointment.md
!youtubeIconLinker.md
!exportquery.md
!scheduleDateToday.md
!openOrders.md
!journalOrganizationBlocks.md

